body{
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button{
    background: #f8f8f8;
    padding: 5px;
    border-radius: 10px;
    min-width: 70px;
    height: 40px;
    border: 1px solid #282828;
    cursor: pointer;
}

input{
    padding: 5px;
    border-radius: 7px;
    border: 1px solid grey;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.form-text{
    width: 6rem;
}

label{
    display: flex;
    gap: 10px;
    align-items: center;
}

.submit-button{
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    background: black;
    border: 1px solid green;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}

.submit-button:hover{
    background: #fafafa;
    border: 1px solid black;
    color: black
}

.red{
    color: red;
}

.small{
    font-size: 0.9rem;
    color: #3d3d3d;
}